services:
  backend:
    build: backend/
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/ || exit 1"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
  
  nginx:
    image: nginx:1.29.4
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      backend:
        condition: service_healthy
